.div{
    display: flex;
    justify-content: space-between;
}

.div button{
    flex: 1;
    padding: 15px 25px;
    cursor: pointer;
    transition: all 0.1s;
    border: none;
    border-bottom: solid 2px #ccc;
}

.div button:hover{
    border-bottom: solid 2px orangered;
    background: #ccc;
}
  
.div button:focus{
    background: white;
}

.div .active{
    border-bottom: solid 2px #009579;
    transition: all 0.1s;
}

.div .active:hover{
    border-bottom: solid 2px #009579;
}

@media(max-width: 400px){
    .div{
        overflow-x: scroll;
    }
}