.nav .logo_section a{
    display: flex;
    align-items: center;
    gap: 3px;
    text-decoration: none;
}

.nav .logo_section a .logo{
    width: 50px;
    height: 50px;
}

.nav div .nav_link{
    --spacing: 1em;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
}

.nav div .nav_link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1em;
    right: 1em;
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}
  
.nav div .nav_link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav .sign_options{
    display: flex;
    align-items: center;
    gap: 3px;
}

.nav .sign_options a{
    text-decoration: none;
    border-radius: 2em;
    margin-left: 1em;
    transition: all 0.2s ease-in-out;
    letter-spacing: 1px;
    padding: 0.75em 1.5em;
}

.nav .more_button{
    display: none;
}

.nav .more_button svg{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.nav .signed_in_options{
    flex-basis: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav .signed_in_options a{
    position: relative;
    border: none;
    text-decoration: none;
}

.nav .signed_in_options a:hover{
    background: transparent;
}

/* .nav .signed_in_options a:hover svg{
    color: white;
} */

.nav .signed_in_options a p{
    color: white;
    background: rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 100%;
    position: absolute;
    right: -15px;
    top: -15px;
}

.nav .signed_in_options svg{
    width: 35px;
    height: 35px;
}

.nav .signed_in_options .profile_tab_container{
    position: relative;
}

.nav .signed_in_options .profile_tab_container .image_container{
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
}

.nav .signed_in_options .profile_tab_container .image_container img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.nav .signed_in_options .profile_tab_container .profile_options{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    position: absolute;
    min-width: 100%;
    padding: 15px 0;
    justify-content: center;
}

.nav .signed_in_options .profile_tab_container .profile_options .option{
    position: relative;
}

.nav .signed_in_options .profile_tab_container .profile_options .option p{
    position: absolute;
    right: 0;
    width: 90px;
    z-index: -1;
}

.nav .signed_in_options .profile_tab_container .profile_options .option svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: color 0.3s ease-in;
}

.nav .signed_in_options .profile_tab_container .profile_options .option svg:hover{
    color: dodgerblue;
}

.label{
    display: none;
    transition: all 0.5s;
}

.no_element_visibility{
    display: none;
}

.nav .profile_tab_container .profile_options .option:hover .label{
   display: block;
}

@media(max-width: 800px){
    nav .sign_options{
        display: none;
    }

    .nav div .nav_link{
        display: none;
    }

    .nav .sign_options{
        display: none;
    }

    .nav .more_button{
        display: block;
    }

    .nav .profile_tab_container{
        display: none;
    }
}