.discount_and_total{
    flex: 1;
    display: flex;
    flex-direction: column;
}
  
.discount_and_total .discounts{
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 1em 1.2em;
}

@media(max-width: 800px){
    .discount_and_total .discounts{
        border-top: solid 1px #ccc;
    }
}