.second_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
    gap: 25px;
    margin-top: 20px;
}

.second_section div input{
    width: 70px;
    padding: 5px 10px;
    text-align: center;
}

.second_section button{
    margin-top: 20px;
    padding: 5px 15px;
    cursor: pointer;
}

.second_section .order_button{
    width: 200px;
    padding: 8px 0;
}

.price{
    font-weight: bold;
}