.second_section{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
    gap: 15px;
}

.second_section div input{
    width: 100px;
    padding: 5px 10px;
    text-align: center;
}

.second_section button{
    margin-top: 20px;
    padding: 5px 15px;
    cursor: pointer;
}

.price{
    font-weight: bold;
}

@media(max-width: 800px){
    .second_section{
        flex: 1;
        margin: 15px;
    }
}